:root {
  --bar-width: 5rem;
  --bar-height: 0.5rem;
  --bar-gap: 0.6rem;
  --foreground: #333;
  --background: #fff;
  --hamburger-margin: 0.6rem;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--bar-gap) * 2);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
}

/* --------------------------------------------- Hamburger meny --------------------------------------------- */
.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--bar-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: #fff;
  --background: #333;
}

.hamburger-menu input,
.hamburger-menu::before,
.hamburger-menu::after {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 1000rem;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 10rem;
  min-height: 100vh;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

.butik-logga {
  position: absolute;
  top: 0.8rem;
  left: calc(var(--bar-width) + 6rem);
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  color: var(--foreground);
}

.menu-options {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

/* ---------------------------------------------  --------------------------------------------- */
